
<table class="table table-striped table-hover" ng-repeat="wf in workflow" ng-switch="{{wf.topLevel}}">
	<tr>
		<th>relation</th>
		<th>input</th>
		<th>operation</th>
		<th>input2</th>
		<th>options</th>
		<th>options2</th>
		<th>comment</th>
	</tr>
	<div ng-switch-when="true">
		<tr ng-repeat="step in wf.data">
			<td>{{step.relation}}</td>
			<td>{{step.input}}</td>
			<td>{{showStatus(step,$index)}}</td>
			<td>{{step.input2}}</td>
			<td>{{step.options}}</td>
			<td>{{step.options2}}</td>
			<td>{{step.comment}}</td>
		</tr>
	</div>
	<tr ng-switch-when="false">
		<td>subWorkflow {{wf.name}}</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
</table>


<div class="table table-striped table-hover" ng-repeat="wf in workflow" ng-switch="{{wf.topLevel}}">
	<div>
		<span>relation</<span>
		<span>input</<span>
		<span>operation</<span>
		<span>input2</<span>
		<span>options</<span>
		<span>options2</<span>
		<span>comment</<span>
	</div>
	<div ng-repeat="step in wf.data" ng-show="{{wf.topLevel}}">
		<span>{{step.relation}}<span>
		<span>{{step.input}}<span>
		<span>{{showStatus(step,$index)}}<span>
		<span>{{step.input2}}<span>
		<span>{{step.options}}<span>
		<span>{{step.options2}}<span>
		<span>{{step.comment}}<span>
	</div>
	<div ng-switch-when="false">
		<span>subWorkflow {{wf.name}}<span>
		<span><span>
		<span><span>
		<span><span>
		<span><span>
		<span><span>
		<span><span>
	</div>
</div>
 -->