textarea {
	width: 100%;
	overflow: hidden;
}

h4 {
	margin-bottom: 4px;
}

.btn-xs {
	font-size: 10px;
	margin-top: 4px;
}

.windowGap {
	margin-top: 15px;
	margin-bottom: 0px;
	margin-left: 15px;
	margin-right: 15px;
}

.windowGapSubNavbar {
	margin-top: 5px;
	margin-bottom: 15px;
	margin-left: 15px;
	margin-right: 15px;
}

.navbarBtn {
	cursor: pointer;
}

.navbarBtn:hover {
	font-size: 16px;
}

.parameterHeadline {
	margin-left: 2px;
}

.connectionParameter {
	margin-top: 10px;
}

.workflowContainer, .wfmetaInput, .compmetaInput {
	background-color: #f4f4f4;
}

.paramContainer {
	margin-left: 0px;
	margin-top: 15px;
}

.refParamContainer {
	margin-left: 0px;
	margin-top: 10px;
	margin-bottom: 15px;
}

.wfTab, .paramDefinition {
	background-color: #f9f9f9;
}

.wfTab > tbody > tr:nth-child(odd) > td,
.wfTab > tbody > tr:nth-child(odd) > th {
  background-color: #f4f4f4;
}

.wfTab > tbody > tr:hover > td,
.wfTab > tbody > tr:hover > th {
  background-color: #f0f0f0;
}

.paramDefinition {
	margin: 0px;
}

#workflowName, #workflowDescription, #componentName, #componentDescription {
	font-weight: 500;
	margin-top: 0px;
	color: black;
	border: 0px;
	width: 100%;
}

#workflowName, #componentName {
	font-size: 40px;
}

#workflowDescription, #componentDescription {
	font-size: 18px;
}

#componentBlock {
	padding-top: 15px;
}

.scriptContentBlock {
	display: block;
	margin-top: 4px;
	margin-bottom: 10px;
}

.scriptContent {
	padding: 9.5px;
	font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
	font-size: 13px;
	word-wrap: break-word;
	color: #333;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: none;
}

.component {
	background-color: white;
}

.componentRef {
	background-color: #fafaff;
}

.component:hover {
	cursor: pointer;
}

.component:focus {
	cursor: text;
}

.componentRef:hover {
	cursor: pointer;
}

.componentRef:focus {
	cursor: text;
}

.textOptionBtns {
	margin-top: 8px;
	margin-bottom: 15px;
}

.scriptMenu {
	margin-top: 8px;
}

.parameterElement {
	display: inline-block;
	white-space: nowrap;
	float: left;
	margin-top: 4px;
	width: 230px;
}

.trash {
	margin-left: 5px;
	vertical-align: middle;
	text-align: center;
	line-height: 40px;
}

.parameterElementPrefix {
	margin-right: 3px;
}

.refIndentation {
	margin-left: 20px;
} 

.pigGeneGlyphicon {
	color: grey;
}

.pigGeneGlyphicon:hover {
	color: black;
	text-decoration: none;
}

.pigGeneGlyphicon:active {
	color: grey;
}

.connect {
	width: 100%;
	height: 20px;
	cursor: pointer;
	background-color: rgb(64,179,223);
}

.connect2 {
	width: 100%;
	height: 20px;
	cursor: pointer;
	background-color: rgb(188,237,145);
}

.connect3 {
	width: 100%;
	height: 20px;
	cursor: pointer;
	background-color: #ffa760;
	margin-top: 5px;
}

.item {
	padding-left: 0px;
	position: absolute;        
	border: 1px solid black;
	width: 150px;
	font-size: 80%;
    background-color:#ffffff;
	text-align: center;
	-moz-box-shadow: 2px 2px 3px 1px #AAA;
	-webkit-box-shadow: 2px 2px 3px 1px #AAA;
	box-shadow: 2px 2px 3px 1px #AAA;
}

.item-in_out {
	height: 80px;
}

.paramTitle {
	margin-top: 6px;
	margin-bottom: 6px;
}

.circle {
	width: 20px;
	heigth: 20px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    display: inline;
}

.circle-source {
	position: absolute;
    right: 5px;
}

.circle-target {
	position: absolute;
    left: 5px;
}

.rectangle {
	height: 20px;
	margin-bottom: 5px;
	margin-left: 15px;
	margin-right: 15px;
}

.rectangle-source {
	background: -moz-linear-gradient(left,  rgba(255,255,255,0.3) 0%, rgba(236,247,252,1) 10%, rgba(64,179,223,0.3) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0.3)), color-stop(10%,rgba(236,247,252,1)), color-stop(100%,rgba(64,179,223,0.3))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(255,255,255,0.3) 0%,rgba(236,247,252,1) 10%,rgba(64,179,223,0.3) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(255,255,255,0.3) 0%,rgba(236,247,252,1) 10%,rgba(64,179,223,0.3) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(255,255,255,0.3) 0%,rgba(236,247,252,1) 10%,rgba(64,179,223,0.3) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(255,255,255,0.3) 0%,rgba(236,247,252,1) 10%,rgba(64,179,223,0.3) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4dffffff', endColorstr='#4d40b3df',GradientType=1 ); /* IE6-9 */
}

.rectangle-target {
	background: -moz-linear-gradient(left,  rgba(188,237,145,0.3) 0%, rgba(248,253,244,1) 90%, rgba(255,255,255,0.3) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(188,237,145,0.3)), color-stop(90%,rgba(248,253,244,1)), color-stop(100%,rgba(255,255,255,0.3))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(188,237,145,0.3) 0%,rgba(248,253,244,1) 90%,rgba(255,255,255,0.3) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(188,237,145,0.3) 0%,rgba(248,253,244,1) 90%,rgba(255,255,255,0.3) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(188,237,145,0.3) 0%,rgba(248,253,244,1) 90%,rgba(255,255,255,0.3) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(188,237,145,0.3) 0%,rgba(248,253,244,1) 90%,rgba(255,255,255,0.3) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4dbced91', endColorstr='#4dffffff',GradientType=1 ); /* IE6-9 */
}

.input-trash {
	position: absolute;
	font-size: 90%;
	right: 32px;
	top: auto; 
	bottom: 9px;
}

.input-trash:hover {
	cursor: pointer;
}

.output-trash {
	position: absolute;
	font-size: 90%;
	left: 32px;
	top: auto; 
	bottom: 9px;
}

.output-trash:hover {
	cursor: pointer;
}

.hiddenElement {
	visibility: hidden;
}

#libLinkIn {
	margin-top: 5px;
	width: 100%;
}

#storeIndicator {
	float: right;
	color: #f8f8f8;
	font-size: 30px;
	margin-top: 9px;
	margin-right: 5px;
	margin-left: 5px;
}

#storeIndicator2 {
	float: right;
	color: #f8f8f8;
	font-size: 30px;
	margin-top: 9px;
}

#componentNameLink:hover {
	cursor: pointer;
}

.required-field-block {
	display: inline-block;
    position: relative;   
    width: 230px;
}

.required-field-block .required-icon {
    display: inline-block;
    vertical-align: middle;
    margin: -0.25em 0.25em 0em;
    background-color: #E8E8E8;
    border-color: #E8E8E8;
    padding: 0.5em 0.8em;
    color: rgba(0, 0, 0, 0.65);
    text-transform: uppercase;
    font-weight: normal;
    border-radius: 0.325em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: background 0.1s linear;
    -moz-transition: background 0.1s linear;
    transition: background 0.1s linear;
    font-size: 75%;
}
	
.required-field-block .required-icon {
    background-color: transparent;
    position: absolute;
    top: 0em;
    right: 0em;
    z-index: 10;
    margin-top: 4px;
    margin-right: 0px;
    width: 30px;
    height: 30px;
    padding: 0em;
    text-align: center;
    -webkit-transition: color 0.2s ease;
    -moz-transition: color 0.2s ease;
    transition: color 0.2s ease;
}

.required-field-block .required-icon:after {
    position: absolute;
    content: "";
    right: 1px;
    top: 1px;
    z-index: -1;
    width: 0em;
    height: 0em;
    border-top: 0em solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 0em solid transparent;
    border-right-color: inherit;
    -webkit-transition: border-color 0.2s ease;
    -moz-transition: border-color 0.2s ease;
    transition: border-color 0.2s ease;
}

.required-field-block .required-icon .text {
	color: #B80000;
	font-size: 26px;
	margin: -3px 0 0 12px;
}

.inputElementLine {
	text-align: center;
	vertical-align: middle;
	line-height: 40px;
}

#modificationInfoDialogue {
	background-color: white;
}

.warning {
	color: #f0ad4e;
	margin-top: 0px;
	margin-bottom: 0px;
}

#warning-icon {
	padding-right: 35px;
	padding-top: 15px;
}

#openDeclarationIcon {
	position: absolute;
	font-size: 110%;
	left: 8px;
	top: 6px; 
}

#openDeclarationIcon:hover {
	cursor: pointer;
}

#componentTrash {
	position: absolute;
	right: 8px;
	top: 8px; 
}

#componentTrash:hover {
	cursor: pointer;
}

.navbar-default .navbar-nav>li>a {
	color: #4B4B4B;
}

#inputParamContainer {
	margin-top: 10px;
}

.workflowLink {
	color: #333;
}

.workflowLink:hover {
	cursor: pointer;
}

#modificationInfoDialogue > ul {
	font-size: 15px;
	padding-left: 30px;
}

.connectorTitle:hover {
	cursor: not-allowed;
}