form input[type=text] {
	margin-bottom: 5px;
}

#contentBackground {
	heigth: 100%;
}

#stepAction {
  margin-bottom: 5px;
}

#formContainer, #tableContainer {
	background-color: #FFFFFF;
	min-height: 350px;
	margin-bottom: 5px;
}

#loadWorkflowName, #saveWorkflowName {
	width: 160px;
}

#loadBtn, #saveBtn {
	width: 125px;
}
