body.well {
	border: 0px;
}

.well {
	min-height: 17px;
}

form input[type=text] {
	margin-bottom: 5px;
}

.affix {
	top: 20px;
}

.span10 {
	width: 800px;
}

.span5 {
	width: 340px;
}

.popover-title {
	font-weight: bold;
}

.fileNames {
	font-size: 11pt;
}

#title {
	padding-left: 0px;
	margin-bottom: 10px;
}

#workflowName {
	padding-left: 40px;
}

#tableContainer {
	background-color: #FFFFFF;
}

#tableContainer.well {
	min-height: 288px;
}

#operationPanels {
	margin-left: 0px;
	margin-bottom: 20px;
}

#processElements {
	background-color: #FFFFFF;
	height: 67px;
	margin-bottom: 20px;
}

#showWfBtn {
	width: 138px;
	margin-bottom: 8px;
  	webkit-border-radius: 4px;
    moz-border-radius: 4px;
    border-radius: 4px;
}

#downloadScript {
	width: 100px;
	margin-left: 4px;
	margin-bottom: 8px;
  	webkit-border-radius: 4px;
    moz-border-radius: 4px;
    border-radius: 4px;
}

#saveWorkflowName {
	width: 150px;
}

#saveBtn {
	width: 135px;
}

#formContainer {
	background-color: #FFFFFF;
	height: 174px;
	padding: 5px 0px 20px 20px;
}

#workflowOps {
	padding: 0px;
}

#stepAction {
	margin-bottom: 5px;
}

#action {
	width: 99px;
	padding-left: 9px;
}

#loadFiletypeSeparator.btn-group {
	display: none;
	margin-left: 0px;
}

#loadName, #fileName {
	margin-top: 4px;
}

#orderBtns {
	background-color: #FFFFFF;
	height: 10px;
	padding: 13px 0px 20px 20px;
}

#lineOrdering {
	display: inline;
}

#orderUp {
	width: 17px;
	padding-left: 5px;
}

#orderDown {
	width: 17px;
	padding-left: 0px;
}

#up, #down {
	margin-top: -2px;
}