textarea {
	width: 100%;
	overflow: hidden;
}

h4 {
	margin-bottom: 4px;
}

.btn-xs {
	font-size: 10px;
	margin-top: 4px;
}

.windowGap {
	margin-top: 15px;
	margin-bottom: 0px;
	margin-left: 15px;
	margin-right: 15px;
}

.windowGapSubNavbar {
	margin-top: 5px;
	margin-bottom: 15px;
	margin-left: 15px;
	margin-right: 15px;
}

.navbarBtn {
	cursor: pointer;
}

.parameterHeadline {
	margin-left: 2px;
}

.connectionParameter {
	margin-top: 10px;
}

.workflowContainer, .wfmetaInput {
	background-color: #f4f4f4;
}

.paramContainer {
	margin-left: 0px;
	margin-top: 15px;
}

.refParamContainer {
	margin-left: 0px;
	margin-top: 10px;
	margin-bottom: 15px;
}

.wfTab, .paramDefinition {
	background-color: #f9f9f9;
}

.wfTab > tbody > tr:nth-child(odd) > td,
.wfTab > tbody > tr:nth-child(odd) > th {
  background-color: #f4f4f4;
}

.wfTab > tbody > tr:hover > td,
.wfTab > tbody > tr:hover > th {
  background-color: #f0f0f0;
}

.paramDefinition {
	margin: 0px;
}

#workflowName, #workflowDescription {
	font-weight: 500;
	margin-top: 0px;
	color: black;
	border: 0px;
	width: 100%;
}

#workflowName {
	font-size: 40px;
}

#workflowDescription {
	font-size: 18px;
}

.scriptContentBlock {
	display: block;
}

.scriptContent {
	padding: 9.5px;
	font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
	font-size: 13px;
	word-wrap: break-word;
	color: #333;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: none;
}

.component {
	background-color: white;
}

.componentRef {
	background-color: #fafaff;
}

.component:hover {
	cursor: pointer;
}

.component:focus {
	cursor: text;
}

.componentRef:hover {
	cursor: pointer;
}

.componentRef:focus {
	cursor: text;
}

.textOptionBtns {
	margin-top: 8px;
	margin-bottom: 15px;
}

.optionBtns1, .optionBtns2, .scriptMenu {
	margin-top: 8px;
}

.optionBtns2, .scriptMenu {
	margin-left: 8px;
}

.parameterElement {
	margin-top: 4px;
}

.parameterElementPrefix {
	margin-right: 3px;
}

.refIndentation {
	margin-left: 20px;
} 

.pigGeneGlyphicon {
	color: grey;
}

.pigGeneGlyphicon:hover {
	color: black;
	text-decoration: none;
}

.pigGeneGlyphicon:active {
	color: grey;
}

.connect {
	width: 100%;
	height: 20px;
	cursor: pointer;
	background-color: rgb(64,179,223);
}

.connect2 {
	width: 100%;
	height: 20px;
	cursor: pointer;
	background-color: rgb(188,237,145);
}

.connect3 {
	width: 100%;
	height: 20px;
	cursor: pointer;
	background-color: #ffa760;
	margin-top: 5px;
}

.item {
	padding-left: 0px;
	position: absolute;        
	border: 1px solid black;
	width: 150px;
	font-size: 80%;
    background-color:#ffffff;
	text-align: center;
	-moz-box-shadow: 2px 2px 3px 1px #AAA;
	-webkit-box-shadow: 2px 2px 3px 1px #AAA;
	box-shadow: 2px 2px 3px 1px #AAA;
}

.item-in_out {
	height: 80px;
}

.paramTitle {
	margin-top: 6px;
	margin-bottom: 6px;
}

.circle {
	width: 20px;
	heigth: 20px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    display: inline;
}

.circle-source {
	position: absolute;
    right: 5px;
}

.circle-target {
	position: absolute;
    left: 5px;
}

.rectangle {
	height: 20px;
	margin-bottom: 5px;
	margin-left: 15px;
	margin-right: 15px;
}

.rectangle-source {
	background: -moz-linear-gradient(left,  rgba(255,255,255,0.3) 0%, rgba(236,247,252,1) 10%, rgba(64,179,223,0.3) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0.3)), color-stop(10%,rgba(236,247,252,1)), color-stop(100%,rgba(64,179,223,0.3))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(255,255,255,0.3) 0%,rgba(236,247,252,1) 10%,rgba(64,179,223,0.3) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(255,255,255,0.3) 0%,rgba(236,247,252,1) 10%,rgba(64,179,223,0.3) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(255,255,255,0.3) 0%,rgba(236,247,252,1) 10%,rgba(64,179,223,0.3) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(255,255,255,0.3) 0%,rgba(236,247,252,1) 10%,rgba(64,179,223,0.3) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4dffffff', endColorstr='#4d40b3df',GradientType=1 ); /* IE6-9 */
}

.rectangle-target {
	background: -moz-linear-gradient(left,  rgba(188,237,145,0.3) 0%, rgba(248,253,244,1) 90%, rgba(255,255,255,0.3) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(188,237,145,0.3)), color-stop(90%,rgba(248,253,244,1)), color-stop(100%,rgba(255,255,255,0.3))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(188,237,145,0.3) 0%,rgba(248,253,244,1) 90%,rgba(255,255,255,0.3) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(188,237,145,0.3) 0%,rgba(248,253,244,1) 90%,rgba(255,255,255,0.3) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(188,237,145,0.3) 0%,rgba(248,253,244,1) 90%,rgba(255,255,255,0.3) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(188,237,145,0.3) 0%,rgba(248,253,244,1) 90%,rgba(255,255,255,0.3) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4dbced91', endColorstr='#4dffffff',GradientType=1 ); /* IE6-9 */
}

.input-trash {
	position: absolute;
	font-size: 90%;
	right: 32px;
	top: auto; 
	bottom: 9px;
}

.output-trash {
	position: absolute;
	font-size: 90%;
	left: 32px;
	top: auto; 
	bottom: 9px;
}

.component-trash {
	position: absolute;
	font-size: 90%;
	right: 8px;
	top: 8px; 
}

.hiddenElement {
	visibility: hidden;
}

#libLinkIn {
	margin-top: 5px;
	width: 100%;
}