textarea {
	width: 100%;
	overflow: hidden;
}

h4 {
	margin-bottom: 4px;
}

.btn-xs {
	font-size: 10px;
	margin-top: 4px;
}

.windowGap {
	margin: 15px;
}

.navbarBtn {
	cursor: pointer;
}

.parameterHeadline {
	margin-left: 2px;
}

.connectionParameter {
	margin-top: 10px;
}

.workflowContainer, .easedInput {
	background-color: #f4f4f4;
}

.paramContainer {
	margin-left: 0px;
	margin-top: 15px;
}

.refParamContainer {
	margin-top: 10px;
	margin-bottom: 15px;
}

.wfTab, .paramDefinition {
	background-color: #f9f9f9;
}

.wfTab > tbody > tr:nth-child(odd) > td,
.wfTab > tbody > tr:nth-child(odd) > th {
  background-color: #f4f4f4;
}

.wfTab > tbody > tr:hover > td,
.wfTab > tbody > tr:hover > th {
  background-color: #f0f0f0;
}

.paramDefinition {
	margin: 0px;
}

#workflowName, #workflowDescription {
	font-weight: 500;
	margin-top: 0px;
	color: black;
	border: 0px;
	width: 100%;
}

#workflowName {
	font-size: 40px;
}

#workflowDescription {
	font-size: 18px;
}

.scriptContentBlock {
	display: block;
}

.scriptContent {
	padding: 9.5px;
	font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
	font-size: 13px;
	word-wrap: break-word;
	color: #333;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: none;
}

.component {
	background-color: white;
}

.componentRef {
	background-color: #fafaff;
}

.component:hover {
	cursor: pointer;
}

.component:focus {
	cursor: text;
}

.componentRef:hover {
	cursor: pointer;
}

.componentRef:focus {
	cursor: text;
}

.textOptionBtns {
	margin-top: 8px;
	margin-bottom: 15px;
}

.optionBtns1, .optionBtns2 {
	margin-top: 8px;
}

.optionBtns2 {
	margin-left: 8px;
}

.parameterElement {
	margin-top: 4px;
}

.parameterElementPrefix {
	margin-right: 3px;
}

.refIndentation {
	margin-left: 20px;
} 