<div class="workflowContainer well" ng-controller="WorkflowCtrl">

	<div class="headlineContainer">
		<compmeta-input value="myValue" timeout="2000" placeholder="please type a component name" />
		<br>
	</div>

	<div ng-if="isVisible()">
		<div class="paramContainer">
			<div class="inputParameters">
				input elements:<br>
				<div ng-repeat="input in workflow.parameter.inputParameter track by $index">
					<span class="parameterElementPrefix"></span><input class="parameterElement" ng-model="workflow.parameter.inputParameter[$index].connector" ng-change="updateWfDefinition('comp')" placeholder="$inputName"></input>
					<span class="parameterElementPrefix"></span><input class="parameterElement" ng-model="workflow.parameter.inputParameter[$index].description" ng-change="updateWfDefinition('comp')" placeholder="input description"></input>
					<a class="pigGeneGlyphicon glyphicon glyphicon-trash" ng-click="removeInput(null,$index,'comp')"></a>
				</div>
				<button class="btn btn-xs btn-default" ng-click="addInput('comp')"><span class="glyphicon glyphicon-plus"></span> add input</button>
			</div>
		</div>
			
		<div id="componentBlock">
			<div ng-repeat="component in workflow.components track by $index">
				<div class="scriptContentBlock">
					<textarea elastic class="scriptContent component" placeholder="please type your desired pig-operations" ng-click="renderOptionBtns($event,$index,'std')">{{component.content}}</textarea>
				</div>
			</div>
			<button class="btn btn-xs btn-success" ng-click="addNewComponent()"><span class="glyphicon glyphicon-plus"></span> add new component</button>
		</div>
		
	
		<div class="paramContainer">
			<div class="outputParameters">
				output elements:<br>
				<div ng-repeat="output in workflow.parameter.outputParameter track by $index">
					<span class="parameterElementPrefix"></span><input class="parameterElement" ng-model="workflow.parameter.outputParameter[$index].connector" ng-change="updateWfDefinition('comp')" placeholder="$outputName"></input>
					<span class="parameterElementPrefix"></span><input class="parameterElement" ng-model="workflow.parameter.outputParameter[$index].description" ng-change="updateWfDefinition('comp')" placeholder="output description"></input>
					<a class="pigGeneGlyphicon glyphicon glyphicon-trash" ng-click="removeOutput(null,$index,'comp')"></a>
				</div>
				<button class="btn btn-xs btn-default" ng-click="addOutput('comp')"><span class="glyphicon glyphicon-plus"></span> add output</button>
			</div>
		</div>
	</div>
	
</div>