<div class="workflowContainer well" ng-controller="WorkflowCtrl">

	<div class="headlineContainer">
		<compmeta-input value="myValue" timeout="2000" placeholder="please type a component name" />
		<br>
	</div>

	<div ng-if="isVisible()">
		<div class="paramContainer">
			<div class="inputParameters">
				input elements:<br>
				<div ng-repeat="input in workflow.parameter.inputParameter track by $index">
					<span class="parameterElementPrefix"></span><input class="parameterElement" ng-model="workflow.parameter.inputParameter[$index].connector" ng-change="updateWfDefinition('comp')" placeholder="$inputName"></input>
					<span class="parameterElementPrefix"></span><input class="parameterElement" ng-model="workflow.parameter.inputParameter[$index].description" ng-change="updateWfDefinition('comp')" placeholder="input description"></input>
					<a class="pigGeneGlyphicon glyphicon glyphicon-trash" ng-click="removeInput(null,$index,'comp')"></a>
				</div>
				<button class="btn btn-xs btn-default" ng-click="addInput('comp')"><span class="glyphicon glyphicon-plus"></span> add input</button>
			</div>
		</div>
			
		<div id="componentBlock">
			<div class="scriptContentBlock">
				<div>
					<scriptmeta-input value="myScriptValue" timeout="2000" placeholder="please type your desired script operations" />
				</div>
				<span class="dropdown">
				<button class="btn btn-default dropdown-toggle scriptMenu" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
				<span id="scriptType">{{workflow.components[0].scriptType.name}}</span>
				<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
					<li role="presentation">
						<a name='0' role="menuitem" ng-click="setScriptType(0)">{{scriptType[0].name}}</a>
					</li>
					<li role="presentation">
						<a name='1' role="menuitem" ng-click="setScriptType(1)">{{scriptType[1].name}}</a>
					</li>
				</ul>
				</span>
			</div>
		</div>
		
		<div class="paramContainer">
			<div class="outputParameters">
				output elements:<br>
				<div ng-repeat="output in workflow.parameter.outputParameter track by $index">
					<span class="parameterElementPrefix"></span><input class="parameterElement" ng-model="workflow.parameter.outputParameter[$index].connector" ng-change="updateWfDefinition('comp')" placeholder="$outputName"></input>
					<span class="parameterElementPrefix"></span><input class="parameterElement" ng-model="workflow.parameter.outputParameter[$index].description" ng-change="updateWfDefinition('comp')" placeholder="output description"></input>
					<a class="pigGeneGlyphicon glyphicon glyphicon-trash" ng-click="removeOutput(null,$index,'comp')"></a>
				</div>
				<button class="btn btn-xs btn-default" ng-click="addOutput('comp')"><span class="glyphicon glyphicon-plus"></span> add output</button>
			</div>
		</div>
	</div>
	
</div>