<div ng-controller="WorkflowCtrl">

	<div ng-controller="PlumbCtrl">
		<div id="workflow-graph"class="drop-container" droppable style="width:800px; height:500px;" ng-click="addEvent($event)" >
			<div class="paramContainer" ng-if="isVisible()">
				<div ng-repeat="input in workflow.parameter.inputParameter track by $index" plumb-item style="position: absolute; margin-left:0px;" class="item item-in_out">
					<div class="paramTitle"><b>Input</b></div>
					</span><input ng-model="workflow.parameter.inputParameter[$index].name" ng-change="updateWfDefinition()"></input>
					<div>
						<a class="input-trash pigGeneGlyphicon glyphicon glyphicon-trash" ng-click="removeInput($index)"></a>
						<div plumb-source class="circle circle-source connect3">...</div>
					</div>
				</div>
				<button class="btn btn-sm btn-default" ng-click="addInput()"><span class="glyphicon glyphicon-plus"></span> add input</button>
		
				<div ng-repeat="output in workflow.parameter.outputParameter track by $index" plumb-item style="position: absolute; margin-left:0px;" class="item item-in_out">
					<div class="paramTitle"><b>Output</b></div>
					<input ng-model="workflow.parameter.outputParameter[$index].name" ng-change="updateWfDefinition()"></input>
					<div>
						<a class="output-trash pigGeneGlyphicon glyphicon glyphicon-trash" ng-click="removeOutput($index)"></a>
						<div plumb-target class="circle circle-target connect3">...</div>
					</div>
				</div>
				<button class="btn btn-sm btn-default" ng-click="addOutput()"><span class="glyphicon glyphicon-plus"></span> add output</button>
				
				<button class="btn btn-sm btn-default" ng-click="addExistingComponent()"><span class="glyphicon glyphicon-plus"></span> add existing component</button>
		
				<div ng-repeat="component in workflow.components track by $index" plumb-item style="position: absolute; margin-left:0px;" class="item">
					<div ng-if="checkType(component.workflowType, 'WORKFLOW_REFERENCE')" data-identifier="{{component.name}}">
						<div class="paramTitle"><b>{{component.name}}</b></div>
						<a class="component-trash pigGeneGlyphicon glyphicon glyphicon-trash" ng-click="removeInput($index)"></a>
						
					
						<div ng-if="checkType(component.workflowType, 'WORKFLOW_REFERENCE') && parametersExist(component.parameter.inputParameter)">
							<div class="rectangle rectangle-target" ng-repeat="input in component.parameter.inputParameter track by $index">
								<div plumb-target class="circle circle-target connect2">...</div><span>{{input.name}}</span><br />
								<input type="hidden" class="parameterElement" ng-model="workflow.parameterMapping.inputParameterMapping[component.name][input.name]" ng-change="updateWfDefinition()"></input>
							</div>
						</div>
	
						<div ng-if="checkType(component.workflowType, 'WORKFLOW_REFERENCE') && parametersExist(component.parameter.outputParameter)">
							<div class="rectangle rectangle-source" ng-repeat="output in component.parameter.outputParameter track by $index">
								<div plumb-source class="circle circle-source connect">...</div><span>{{output.name}}</span><br />
								<input type="hidden" class="parameterElement" ng-model="workflow.parameterMapping.outputParameterMapping[component.name][output.name]" ng-change="updateWfDefinition()"></input> 
							</div>
						</div>
					</div>
				</div>
			</div>
			<div post-render></div>
			<span ng-init="init()"></span>
		</div>
	</div>
	
</div>