<div class="workflowContainer well">

	<h1 editable-text="workflow.name">{{workflow.name}}</h1>
	<h4 editable-text="workflow.description">{{workflow.description}}</h4>
	
	<div>
		<div ng-repeat="component in workflow.components">
			<br ng-if="checkType(component.workflowType, 'WORKFLOW_REFERENCE')">
			<h4 ng-if="checkType(component.workflowType, 'WORKFLOW_REFERENCE')">{{component.name}}</h4>
			<i ng-if="checkType(component.workflowType, 'WORKFLOW_REFERENCE')">{{component.description}}</i><br>
			<a href="#" editable-textarea="component.content" e-rows="5" e-cols="150" ng-if="checkType(component.workflowType, 'WORKFLOW_REFERENCE')">
				<pre class="component" ng-if="checkType(component.workflowType, 'WORKFLOW_REFERENCE')">{{ component.components[0].content }}</pre>
			</a>
		
			<a href="#" editable-textarea="component.content" e-rows="5" e-cols="150" ng-if="checkType(component.workflowType, 'WORKFLOW_COMPONENT')">
				<pre class="component">{{ component.content }}</pre>
			</a>
		</div>
		<br>
		<br>
		
		<button class="btn btn-sm btn-success" ng-click="addNewComponent()"><span class="glyphicon glyphicon-plus"></span> add new component</button>
		<button class="btn btn-sm btn-warning" ng-click="addExistingComponent()"><span class="glyphicon glyphicon-plus"></span> add existing component</button>
	</div>
	<br>
	
</div>