<div class="workflowContainer well">

	<div class="headlineContainer">
		<div contenteditable id="workflowName" ng-click="renderChangeHeadlineBtns($event)">{{workflow.name}}</div>
		<div contenteditable id="workflowDescription" ng-click="renderChangeHeadlineBtns($event)">{{workflow.description}}</div>
	</div>
	
	<div>
		<div ng-repeat="component in workflow.components track by $index">
			<br ng-if="checkType(component.workflowType, 'WORKFLOW_REFERENCE')">
			<h4 ng-if="checkType(component.workflowType, 'WORKFLOW_REFERENCE')"><a ng-click="editReferencedWf(component.name)">{{component.name}}</a></h4>
			<i ng-if="checkType(component.workflowType, 'WORKFLOW_REFERENCE')">{{component.description}}</i><br>
			
			<div ng-if="checkType(component.workflowType, 'WORKFLOW_REFERENCE')">
				input parameter mapping:
				<div ng-repeat="input in component.inputParams track by $index">
					<span class="parameterElementPrefix">${{input}}</span>
					<input class="parameterElement" ng-model="workflow.inputParamMapping[component.name][input]"></input>
				</div>
			</div>
			<div ng-if="checkType(component.workflowType, 'WORKFLOW_REFERENCE')">
				output parameter mapping:
				<div ng-repeat="output in component.outputParams track by $index">
					<span class="parameterElementPrefix">${{output}}</span>
					<input class="parameterElement" ng-model="workflow.outputParamMapping[component.name][output]"></input>
				</div>
			</div>
			
			<div class="scriptContentBlock" ng-if="checkType(component.workflowType, 'WORKFLOW_REFERENCE')">
				<textarea readonly elastic class="scriptContent componentRef" ng-if="checkType(component.workflowType, 'WORKFLOW_REFERENCE')" ng-click="renderOptionBtns($event,$index,'ref')" ng-model="component.components[0].content">{{component.components[0].content}}</textarea>
			</div>
			
			<div class="scriptContentBlock" ng-if="checkType(component.workflowType, 'WORKFLOW_COMPONENT')">
				<textarea elastic class="scriptContent component" ng-if="checkType(component.workflowType, 'WORKFLOW_COMPONENT')" ng-click="renderOptionBtns($event,$index,'std')" ng-model="component.content">{{component.content}}</textarea>
			</div>
		</div>
		<br>
		<br>
		
		<button class="btn btn-sm btn-success" ng-click="addNewComponent()"><span class="glyphicon glyphicon-plus"></span> add new component</button>
		<button class="btn btn-sm btn-warning" ng-click="addExistingComponent()"><span class="glyphicon glyphicon-plus"></span> add existing component</button>
	</div>
	<br>
	
</div>